[build]
  base = "/frontend"
	command = "npm run build"
	publish = "build"

[functions]
  directory = "functions"

[[redirects]]
  from = "/*"
  to = "index.html"
  status = 200

[[headers]]
  for = "/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"